/*
========================================
Color Definitions Applied by Osman Balci

Maroon  		#800000
Burnt Orange	ff591a
Black			#000000
========================================
*/

.smartmenu {	
	font-family:"Open Sans", sans-serif;
	font-size:13px;
    color:#000000;
    background-color:#800000;
}

.smartmenu .fa,
.smartmenu .fas,
.smartmenu .far,
.smartmenu .fal,
.smartmenu .fab {
  	font-size:13px;
	letter-spacing:13px;
  	line-height:inherit;
}

.smartmenu h4 {
  	color:#800000;
}

.smartmenu,
.smartmenu a,
.smartmenu a:visited {
  	color:#fff;
}

.smartmenu > li:hover,
.smartmenu > li.sm-opened {
  	background-color:#ff591a;
}

.smartmenu > li.sm-active {
  	background-color:#800000;
}

.smartmenu > li.sm-responsive-toggle {
	background-color:#800000;
}

.smartmenu > li.sm-responsive-toggle:hover {
	background-color:#222;
}

.smartmenu > li > ul,
.smartmenu > li > ul ul,
.smartmenu .sm-multi-column,
.smartmenu .sm-multi-column > ul ul {
  	background-color:#FFF8DC;			/* Cornsilk bg for dropdown menu */
  	color:#000000;						/* Black for dropdown menu text */
}

.smartmenu > li > ul li > a,
.smartmenu > li > ul ul li > a,
.smartmenu .sm-multi-column li > a,
.smartmenu .sm-multi-column > ul ul li > a,
.smartmenu > li > ul li > a:visited,
.smartmenu > li > ul ul li > a:visited,
.smartmenu .sm-multi-column li > a:visited,
.smartmenu .sm-multi-column > ul ul li > a:visited {
  	color:#000000;
}

.smartmenu > li > ul li:hover,
.smartmenu > li > ul ul li:hover,
.smartmenu .sm-multi-column li:hover,
.smartmenu .sm-multi-column > ul ul li:hover,
.smartmenu > li > ul li.sm-opened,
.smartmenu > li > ul ul li.sm-opened,
.smartmenu .sm-multi-column li.sm-opened,
.smartmenu .sm-multi-column > ul ul li.sm-opened {
  	background-color:#ff591a;
}

.smartmenu > li > ul li:hover > a,
.smartmenu > li > ul ul li:hover > a,
.smartmenu .sm-multi-column li:hover > a,
.smartmenu .sm-multi-column > ul ul li:hover > a,
.smartmenu > li > ul li.sm-opened > a,
.smartmenu > li > ul ul li.sm-opened > a,
.smartmenu .sm-multi-column li.sm-opened > a,
.smartmenu .sm-multi-column > ul ul li.sm-opened > a,
.smartmenu > li > ul li:hover > a:visited,
.smartmenu > li > ul ul li:hover > a:visited,
.smartmenu .sm-multi-column li:hover > a:visited,
.smartmenu .sm-multi-column > ul ul li:hover > a:visited,
.smartmenu > li > ul li.sm-opened > a:visited,
.smartmenu > li > ul ul li.sm-opened > a:visited,
.smartmenu .sm-multi-column li.sm-opened > a:visited,
.smartmenu .sm-multi-column > ul ul li.sm-opened > a:visited {
  	color:#fff;
}

.smartmenu > li.sm-content > div,
.smartmenu > li.sm-content-full > div {
  	background-color:#fff;
  	color:#000000;
}

.smartmenu > li.sm-content > div ul li a,
.smartmenu > li.sm-content-full > div ul li a,
.smartmenu > li.sm-content > div ul li a:visited,
.smartmenu > li.sm-content-full > div ul li a:visited {
  	color:#800000;
}

.smartmenu > li.sm-content > div ul li:hover a,
.smartmenu > li.sm-content-full > div ul li:hover a,
.smartmenu > li.sm-content > div ul li:hover a:visited,
.smartmenu > li.sm-content-full > div ul li:hover a:visited {
  	color:#ff591a;
}

.smartmenu .sm-row .sm-col > .sm-grid-wrapper {
	background-color:#eaeaea;
  	color:#000000;
}

/* Mega menu */
.smartmenu .sm-submenu .sm-submenu-description {
	font-size:12px;
	color:#aaa;
}

.smartmenu .sm-custom-bg {
	background-image:url(../../images/preview/pattern.png);
}

/* Images */
.smartmenu .sm-title {
	color:#555;
}

.smartmenu .sm-description {
    color:#999;
}

/* Contact */
.smartmenu .sm-contact-form {
	background-color:#f6f6f6;
}

.smartmenu input[type=text],
.smartmenu input[type=email],
.smartmenu textarea {
	background-color:#fff;
	border:1px solid #e6e5e0;
	color:#aaa;		
}

.smartmenu input[type=text]:focus,
.smartmenu input[type=email]:focus,
.smartmenu textarea:focus {
	border:1px solid #ff591a;
	color:#666;	
}

.smartmenu input[type=submit] {
	 background-color:#ff591a;
	 color:#fff;
}

.smartmenu input[type=submit]:hover {
	background-color:#800000;
}

/* Search */
.smartmenu .sm-search input {
  	color:#fff;
}

.smartmenu .sm-search input:focus,
.smartmenu .sm-search input:hover {
  	background-color:#ff591a;
}

.smartmenu .sm-search:hover {
  	background-color:#ff591a;
}
